@import "tailwindcss";

@theme {
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
}

@layer base {
  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }
  a {
    @apply text-blue-400;
  }
  ol {
    @apply list-decimal pl-6;
  }
  ul {
    @apply list-disc pl-6;
  }
  button {
    @apply px-4 py-2 border rounded-md cursor-pointer;
  }
}

@layer components {
  button.btn-primary {
    @apply border-0 text-white bg-blue-500;
  }
}